<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 introduction-text">
			<h1>Aplicación del tiempo <span class="name-app">"MyWeather APP"</span> por <span><a href="http://www.eloyariascurriculum.com" target="_blank">Eloy Arias</a></span></h1>
			<p class="text">Bienvenidos a la aplicación del tiempo en AngularJS desarrollada para el curso de AngularJS en la academia <span>Fictizia</span>. Espero que sea de vuestro agrado y disfruteis de ella.</p>
			<h2>He usado para esto:</h2>
			<div class="row technologies">	
				<div class="col-sm-4 html5" title="HTML 5"></div>
				<div class="col-sm-4 css3" title="CSS 3"></div>
				<div class="col-sm-4 angular" title="Angular JS"></div>
				<div class="col-sm-4 uirouter" title="UI Router"></div>
				<div class="col-sm-4 flickr" title="Flickr API"></div>
				<div class="col-sm-4 weather" title="Weather API"></div>
			</div>
		</div>
		<div class="col-sm-12 starter">
			<button class="btn btn-primary my-button" ui-sref="start">EMPECEMOS !!!</button>
		</div>
	</div>
</div>